.wpcf7 {
  @apply w-full;
  @apply rounded;
  @apply bg-glass--light;
  @apply p-6;
}

.wpcf7 label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wpcf7 input,
.wpcf7 textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wpcf7 input[type="submit"] {
  @apply button;
}
