@import "tailwindcss/utilities";

@layer utilities {
  .mask-bars-3 {
    mask: center / contain no-repeat url("/src/images/svg/bars-3.svg");
  }

  .mask-chevron-left {
    mask: center / contain no-repeat url("/src/images/svg/chevron-left.svg");
  }

  .mask-chevron-down {
    mask: center / contain no-repeat url("/src/images/svg/chevron-down.svg");
  }
  .mask-x-mark {
    mask: center / contain no-repeat url("/src/images/svg/x-mark.svg");
  }

  .bg-glass {
    @apply from-dark/80;
    @apply to-dark/40;
    @apply bg-gradient-to-br;
    @apply backdrop-blur-lg;
    @apply overflow-hidden;
  }

  .bg-glass--light {
    @apply from-dark/60;
    @apply to-dark/30;
    @apply bg-gradient-to-br;
    @apply backdrop-blur;
    @apply overflow-hidden;
  }

  .select-wrapper {
    @apply flex;
    @apply items-center;
    @apply justify-end;
    @apply w-full;
  }

  .select-wrapper span {
    @apply w-full;
  }

  .select-wrapper::after {
    @apply content-empty;
    @apply absolute;
    @apply block;
    @apply size-6;
    @apply mask-chevron-down;
    @apply bg-dark;
    @apply mr-4;
  }
}
